.navbar {
  background-color: transparent;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 100;
}

.navbar-container {
  background-color: rgba(51, 51, 51, 0.7); /* Darker, more transparent */
  max-width: 450px;
  border-radius: 50px;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 5px 10px;
}

.nav-item a:hover {
  color: #ccc;
  transform: translateY(-2px);
}